body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

button.selected {
    background-color: #007BFF; /* Blue background */
    color: white; /* White text */
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}
